<header class="header">
  <div class="left-section">
      <img class="logo" src="assets/icons/linkedin logo icon.svg">
      <input class="search-box" type="text"  placeholder="Rechercher des posts dans ce groupe" >

  </div>
  <div class="middle-section">
      <div class="top-icon">
          <img class="home" src="assets/icons/home.svg">
          <label>Accueil</label>

      </div>
      <div class="top-icon">
          <img style="height: 20px;" class="home" src="assets/icons/users-svgrepo-com.svg">
          <label>Réseau</label>
      </div>
      <div class="top-icon">
          <img style="height: 20px;" class="home" src="assets/icons/portfolio-suitcase-svgrepo-com.svg">
          <label>Offres d'emploi</label>
      </div>
      <div class="top-icon">
          <img class="home" src="assets/icons/chat-square-plain-2-svgrepo-com.svg">
          <label>Messagerie</label>
      </div>
      <div class="notification-container">
          <img class="notification" src="assets/icons/notification-svgrepo-com.svg">
          <label>Notifications</label>
          <div style="font-size: 14px;" class="notification-alert">93</div>
      </div>
      <div class="me-icon">
          <img class="dp" src="assets/photos/profile pic.jpeg">
          <label style="opacity: 0.6;font-family: bold;">Vous<i class="fa fa-sort-desc"></i></label>

      </div>
  </div>
  <div class="right-section">
      <div class="top-icon">
      <img style="height: 25px;" class="home" src="assets/icons/square-4-grid-svgrepo-com.svg">
      <label>Pour les entreprises</label>
  </div>
  <div class="top-icon">
      <img style="height: 25px;" class="home" src="assets/icons/business-svgrepo-com.svg">
      <label>Trouvez des clients avec Sales Nav</label>
  </div>
  </div>
</header>
<main class="main">
  <div class="left-main">
     <div class="left-main-1">
      <img class="banner" src="assets/photos/banner.jpeg">
      <img class="my-picture" src="assets/photos/profile pic.jpeg">
      <div class="about">
          <h5>Mamadou Diouma II Bah</h5>
          <P>Full Stack Developer(.NET core, . NET Blazor, JAVA, LARAVEL, <br> ANGULAR, NODE.JS)🖥️</P>
      </div>
      <div class="analytics">
          <h5>Vues du profil 15</h5>
          <p>Impressions de post 256</p>
      </div>
      <div class="premium">
          <p>Accédez à des infos et des outils exclusifs<p>
          <a href="#">Essayez Premium gratuitement</a>
      </div>
      <div class="my-item">
          <p>Mes éléments<p>
      </div>
     </div>
     <!-- <div class="left-main-2">
      <div class="page">
          <img  class="mildstrings" src="assets/photos/mildstrings.jpeg">
          <h5>Mildstrings</h5>
          <div class="page-notification">
              <p>Page Notification</p>
              <p style="color: blue;">1</p>
          </div>
          <div class="page-notification">
              <p>Page Visitors</p>
              <p style="color: blue;">2</p>
          </div>
      </div>
      <p>See Visitor Analytics<p>
     </div> -->
     <div class="left-main-3">
      <h6>Récent</h6>
     <div class="event-flex">
      <img class="events" src="assets/icons/calendar-1-svgrepo-com.svg">
      <p class="events-p" >GRATUIT : CERTIFICATION PROJECT MANAGEMENT PMP® - Formation Offerte</p>
     </div>
     <div class="event-flex">
      <img class="events" src="assets/icons/calendar-1-svgrepo-com.svg">
      <p class="events-p" >Python Web Developers</p>
     </div>
     <div class="event-flex">
      <img class="events" src="assets/icons/calendar-1-svgrepo-com.svg">
      <p class="events-p" >Machine Learning in Drug Discovery Certificate Online Training</p>
     </div>
     <h6>Groupes</h6>
     <div class="event-flex">
      <img class="events" src="assets/icons/multiple-users-silhouette-svgrepo-com.svg">
      <p class="events-p" >Data Scientist & Analyst</p>
     </div>
     <div class="event-flex">
      <img class="events" src="assets/icons/multiple-users-silhouette-svgrepo-com.svg">
      <p class="events-p" >
        AWS User Group Conakry</p>
     </div>
     <div class="event-flex">
      <img class="events" src="assets/icons/multiple-users-silhouette-svgrepo-com.svg">
      <p class="events-p" >Python Web Developers</p>
     </div>
     <p class="same">Voir plus<i class="fa fa-angle-down" ></i></p>
     <h6>Événements</h6>
     <div class="event-flex">
      <img class="events" src="assets/icons/calendar-1-svgrepo-com.svg">
      <p class="events-p" >GRATUIT : CERTIFICATION PROJECT MANAGEMENT PMP® - Formation Offerte</p>
     </div>
     <div class="event-flex">
      <img class="events" src="assets/icons/calendar-1-svgrepo-com.svg">
      <p class="events-p" >Machine Learning in Drug Discovery Certificate Online Training</p>
     </div>
     <p class="same">Tout voir</p>
     <h6>Hashtags suivis</h6>
     <!-- <div class="event-flex">
      <img class="events" src="assets/icons/hashtag-svgrepo-com.svg">
      <p class="events-p" >Startup</p>
     </div>
     <div class="event-flex">
      <img class="events" src="assets/icons/hashtag-svgrepo-com.svg">
      <p class="events-p" >Funding</p>
     </div>
     <div class="event-flex">
      <img class="events" src="assets/icons/hashtag-svgrepo-com.svg">
      <p class="events-p" >Healthcare</p>
     </div> -->
     <p class="same">Tout voir <i class="fa fa-angle-down" ></i></p>

     <div class="discover">
      En découvrir plus
     </div>
     </div>
  </div>
  <div class="middle-main">
      <div class="middle-main-1">
          <div class="post-1">
              <img class="middle-pic" src="assets/photos/profile pic.jpeg">
              <input class="post" type="text" placeholder="Commencer un post">
          </div>
          <div class="linked-input">
              <div class="input">
                  <img class="upload" src="assets/icons/photo-svgrepo-com.svg">
                  <p>Médias</p>
              </div>
              <div class="input">
                  <img class="upload" src="assets/icons/video-movie-play-svgrepo-com.svg">
                  <p>Événement</p>
              </div>
              <div class="input">
                  <img class="upload" src="assets/icons/portfolio-svgrepo-com.svg">
                  <p>Rédiger un article</p>
              </div>
              <!-- <div class="input">
                  <img class="upload" src="assets/icons/right-alignment-text-svgrepo-com.svg">
                  <p>Photo</p>
              </div> -->
          </div>
      </div>
      <div class="middle-main-2">
          <div class="post-about">
              <div>
                  <img class="middle-pic" src="assets/photos/profile pic.jpeg">
               </div>
               <div>
                   <p class="name">Mamadou Diouma II Bah<p>
                   <p class="name-about">Full Stack Developer(.NET core, . NET Blazor, JAVA, LARAVEL, <br> ANGULAR, NODE.JS)🖥️</p>
                   <p class="name-about">1 h &#183; <i class="fa fa-globe" aria-hidden="true"></i></p>
               </div>
          </div>
          <div>
              <p>🎬 Mise à jour passionnante du projet ! 🚀
                🍿 Je viens de terminer un voyage incroyable en créant un clone Netflix en utilisant Angular et Tailwind CSS ! 🎉
                👨‍💻 Tirant parti de la puissance d'Angular pour une interface utilisateur dynamique et réactive, associée au style élégant de Tailwind CSS, ce projet était un véritable travail d'amour.
                🚀 Principales caractéristiques :
                ✨ Angular Magic : Angular a rendu le processus de développement transparent grâce à ses composants, services et liaisons de données puissants. Créer une application dynamique avec Angular n'a jamais été aussi excitant !
                💅 Tailwind CSS Elegance : Le style est la clé, et Tailwind CSS a apporté une bouffée d'air frais au projet. L'approche axée sur l'utilité et le système de conception personnalisable ont fait du style un jeu d'enfant.
                📽️ Netflix Vibes : De la mise en page familière aux transitions fluides, l'objectif était de capturer l'essence de l'expérience Netflix tout en y ajoutant une touche personnelle.
                🛠️ Pile technologique :
                🅰️ Angular 17 : Adopte la dernière version d'Angular pour ses fonctionnalités améliorées et ses performances améliorées.
                🎨 Tailwind CSS : création d'une interface utilisateur visuellement attrayante à l'aide du framework CSS utilitaire de Tailwind.
                📊 Firebase : Donner vie au projet avec Firebase pour les services backend, l'authentification et la gestion de bases de données.
                🙌 Bravo aux communautés Angular et Tailwind ! Votre soutien, votre documentation et vos communautés dynamiques ont rendu ce projet encore plus agréable. 💙
                👀 Vous voulez jeter un oeil ? Explorez le code sur GitHub . N'hésitez pas à partager vos réflexions et vos retours !
                🚀 Connectons-nous ! J'ai hâte de discuter d'Angular, de Tailwind CSS ou de tout ce qui concerne la technologie. Laissez un commentaire ou connectez-vous avec moi : sortons ensemble ! 🌐
                #Angular #TailwindCSS #WebDevelopment #NetflixClone #TechInnovation #Angular17 #DeveloperLife</p>
          </div>
          <img class="post-image" src="https://common-blog-suffes.s3.us-east-2.amazonaws.com/635247c0c8d7c-best-netflix-clone-script.jpgbest-netflix-clone-script.jpg">
      </div>
      <div class="middle-main-2">
          <div class="post-about">
              <div>
                  <img class="middle-pic" src="assets/photos/profile pic.jpeg">
               </div>
               <div>
                   <p class="name">Mamadou Diouma II Bah<p>
                   <p class="name-about">Full Stack Developer(.NET core, . NET Blazor, JAVA, LARAVEL, ANGULAR, NODE.JS)🖥️</p>
                   <p class="name-about">12 h &#183; <i class="fa fa-globe" aria-hidden="true"></i></p>
               </div>
          </div>
          <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                   Expedita, vel fuga. Ipsam repellat quaerat itaque cum error
                   optio sapiente dolores dolore repudiandae praesentium. Atque,
                  saepe commodi accusantium voluptates quae magnam!</p>
          </div>
          <img class="post-image" src="assets/photos/picture-2.jpeg">
      </div>
      <div class="middle-main-2">
          <div class="post-about">
              <div>
                  <img class="middle-pic" src="assets/photos/profile pic.jpeg">
               </div>
               <div>
                   <p class="name">Mamadou Diouma II Bah<p>
                   <p class="name-about">Full Stack Developer(.NET core, . NET Blazor, JAVA, LARAVEL, ANGULAR, NODE.JS)🖥️</p>
                   <p class="name-about">4 h &#183; <i class="fa fa-globe" aria-hidden="true"></i></p>
               </div>
          </div>
          <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                   Expedita, vel fuga. Ipsam repellat quaerat itaque cum error
                   optio sapiente dolores dolore repudiandae praesentium. Atque,
                  saepe commodi accusantium voluptates quae magnam!</p>
          </div>
          <img class="post-image" src="assets/photos/picture-3.jpeg">
      </div>
      <div class="middle-main-2">
          <div class="post-about">
              <div>
                  <img class="middle-pic" src="assets/photos/profile pic.jpeg">
               </div>
               <div>
                   <p class="name">Mamadou Diouma II Bah<p>
                   <p class="name-about">Full Stack Developer(.NET core, . NET Blazor, JAVA, LARAVEL, ANGULAR, NODE.JS)🖥️</p>
                   <p class="name-about">1j &#183; <i class="fa fa-globe" aria-hidden="true"></i></p>
               </div>
          </div>
          <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                   Expedita, vel fuga. Ipsam repellat quaerat itaque cum error
                   optio sapiente dolores dolore repudiandae praesentium. Atque,
                  saepe commodi accusantium voluptates quae magnam!</p>
          </div>
          <img class="post-image" src="assets/photos/picture-4.jpeg">
      </div>
      <div class="middle-main-2">
          <div class="post-about">
              <div>
                  <img class="middle-pic" src="assets/photos/profile pic.jpeg">
               </div>
               <div>
                   <p class="name">Mamadou Diouma II Bah<p>
                   <p class="name-about">Full Stack Developer(.NET core, . NET Blazor, JAVA, LARAVEL, ANGULAR, NODE.JS)🖥️</p>
                   <p class="name-about">1 mois &#183; <i class="fa fa-globe" aria-hidden="true"></i></p>
               </div>
          </div>
          <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                   Expedita, vel fuga. Ipsam repellat quaerat itaque cum error
                   optio sapiente dolores dolore repudiandae praesentium. Atque,
                  saepe commodi accusantium voluptates quae magnam!</p>
          </div>
          <img class="post-image" src="assets/photos/picture-5.jpeg">
      </div>


  </div>

  <div class="right-main">
      <div class="right-main-1">
          <div>
              <h4 style="padding: 0; margin: 0;">Ajoutez à votre fil d’actualité
              </h4>
          </div>
          <div class="arz-card">
              <div>
                  <img class="arz" src="assets/photos/anz.jpeg">
                 </div>
                 <div class="arz-info">
                  <h5>Laravel France</h5>
                  <p>Entreprise • Logiciels informatiques</p>
                  <button class="follow-button"> <i class="fa fa-plus"></i> Suivre </button>
                 </div>
          </div>
          <div class="arz-card">
              <div>
                  <img class="arz" src="assets/photos/ropay.jpeg">
                 </div>
                 <div class="arz-info">
                  <h5>Thione NIANG</h5>
                  <p>Founder at JEUFZONE Farm</p>
                  <button class="follow-button"> <i class="fa fa-plus"></i> Suivre </button>
                 </div>
          </div>
          <div class="arz-card">
              <div>
                  <img class="arz" src="assets/photos/ARM.jpeg">
                 </div>
                 <div class="arz-info">
                  <h5>Milan Jovanović
                 </h5>
                  <p>Practical .NET and Software Architecture Tips | Microsoft MVP</p>
                  <button class="follow-button"> <i class="fa fa-plus"></i> Suivre </button>
                 </div>
          </div>
         <P style="font-size: 14px; text-align: center; margin-top: 10px; color: grey;" >Voir toutes les suggestions  <i class="fa fa-arrow-right"></i></P>
      </div>
      <div class="position">
          <div class="right-main-2">
              <div class="link-box">
                  <img class="link" src="assets/photos/profile pic.jpeg">
                  <img class="link-2" src="assets/photos/link.jpeg">
              </div>
              <p style="margin-left: 20px; margin-right: 20px;">Les candidats Mamadou Diouma II Bah sont prêts quand vous l'êtes</p>
              <button>Promouvoir une offre d'emploi</button>
          </div>

              <div class="right-main-3">
                  <div class="footer">
                      <p>Infos</p> <p>Accessibilité</p> <p>Assistance clientèle</p> <p>Conditions générales et confidentialité</p> <p>Préférences Pubs</p> <p>Publicité</p>
                      <p>Solutions professionnelles </p> <p>Télécharger l'application linkedin</p> <p>Plus</p> <p> <img width="20" class="logo" src="assets/icons/linkedin logo icon.svg"> LinkedIn Corporation © 2024</p>
                  </div>

              </div>
      </div>

  </div>
</main>
<div class="messaging">
  <div class="dm-me">
      <img class="dp" src="assets/photos/profile pic.jpeg">
      <p style="font-size: 14px; font-weight: bold; margin-left: 10px;">Messagerie</p>
  </div>


  <div class="icon-group">
  <img class="icon" src="assets/icons/three-dots-line-svgrepo-com.svg">
  <img class="icon" src="assets/icons/writing-svgrepo-com.svg">
  <img class="icon" src="assets/icons/arrow-up-337-svgrepo-com.svg">
  </div>
</div>
